{{>header}}
{{>navbar}}

{{#if error}}
<div class="alert alert-danger" role="alert">
 Please enter complete product data
</div>
{{/if}}

<div class="container mt-5 p-4">
  <form action="/proses-addProduct" method="POST" enctype="multipart/form-data">
    <div class="form-floating mb-3">
      <input type="text" name="name" class="form-control" value="{{name}}" placeholder="Name">
      <label for="floatingInput">Name</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" name="description" class="form-control" value="{{description}}" placeholder="Description">
      <label for="floatingInput">Description</label>
    </div>
    <div class="form-floating mb-3">
      <input type="number" name="price" class="form-control" value="{{price}}" placeholder="Price">
      <label for="floatingInput">Price</label>
    </div>
      <div id="preview-photo"></div>
    <div class="form-floating mb-3">
      <input type="file" name="photo" class="form-control" value="{{photo}}" placeholder="Photo" onchange="handleChange()" >
      <label for="floatingInput" style="padding: 13px;">Photo</label>
    </div>
    <div class="form-floating mb-3">
      <input type="number" name="stock" class="form-control" value="{{stock}}" placeholder="Stock">
      <label for="floatingInput">stock</label>
    </div>
    <div class="form-floating mt-3" >
      <select class="form-select p-3" name="category" >
        <option selected>Choose Category...</option>
        <option value="1">Cold Drink</option>
        <option value="2">Hot Drink</option>
      </select>
    </div><div class="form-floating mt-3" >
      <select class="form-select p-3" name="brand" >
        <option selected>Choose Brand...</option>
        <option value="1">Startbuck</option>
        <option value="2">J.Co</option>
        <option value="3">Maxx</option>
      </select>
    </div>
    <div style="margin: 10px auto; display:flex; justify-content:center">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>

<script>

  function handleChange(){
    const previewElement = document.querySelector("#preview-photo");
    const value = URL.createObjectURL(event.target.files[0]);
    previewElement.innerHTML = `<img src="${value}" style="width: 100px; margin-left: 2 0px;" class="mb-3"/>`

  }
  
</script>

